html, body {
    background-image: "bacground.png";
    width: 100%;
    margin: 0px;
    
}

.logo {
    position: center;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}