html, body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    margin: 0px;
    
}

.search-input{
    padding: 5%;
}
.pokedex-container {
    height: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-container {
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    width: 13rem;
    justify-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.pokeLogo {
    bottom: 0;
    left: 0;
    width: 5%;
    height: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}